
h1 {
  text-align: center;
  color: burlywood;
  font-size: 100px;
}

div1 {
    color:burlywood;
    text-align:center;
}


p1.ex1 {
    display: block;
    width: 100%;
    text-align: center;
    color: burlywood;
    font-size: 25px;
    
    
    background-color: rgb(91, 88, 83);
    border-radius: 5px;
    opacity: 0.7;
}

p2 {
    display: block;
    width: 100%;
    text-align: center;
    color: burlywood;
    font-size: 25px;
    
    background-color: rgb(91, 88, 83);
    border-radius: 5px;
    opacity: 0.7;
}



body, html {
  height: 100%;
  margin: 0;
  
  font-size: 16px;
}

.bg {
    /* The image used */
    background-image: url("loginbackground.jpg");
    /* Full height */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input[type=text], select {
  width: 60%;
  color: aliceblue;
  padding: 12px 20px;
  margin: 8px ;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 5px;
  background-color: burlywood;
  box-sizing: content-box;
  opacity: 0.7;
  
}

input[type=submit] {
  width: 60%;
  background-color: burlywood;
  color: white;
  padding: 12px 20px;
  margin: 12px;
  border: 5px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: content-box;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(245, 237, 210,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #DFC87A;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    /* Close button on hover */
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}