
h1 {
    text-align: center;
    color: maroon;
    font-size: 100px;
  }
  
  body, html {
    height: 100%;
    margin: 0;
    color: maroon;
    font-size: 16px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    opacity:0.6;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.option-li-navigation-logo {
    float: left;
}

.option-li {
    float: right;
}

.option--navigation-logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.option-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    .option-li a:hover {
        background-color: #111;
    }

.option-active {
    background-color: steelblue;
}

.drag-area-setting {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
}

.drag-area {
    border: 2px solid #000;
    height: 500px;
    width: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
}

.drag-area p{
    padding-top:20px;
    padding-left:50px;
    color:black;
}

.drag-area p1{
    border: 2px solid #000;
    height: 50px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    color:dimgray;
}

.drag-area.active {
    border: 2px solid;
}

.drag-area header{
    text-align:center;
    font-size:36px;
    color:darkgray;
    padding-top:10px;

}
  /*
  input[type=text], select {
    width: 60%;
    color: aliceblue;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: burlywood;
    box-sizing: content-box;
    opacity: 0.7;
    
  }
  
  input[type=submit] {
    width: 60%;
    background-color: burlywood;
    color: white;
    padding: 12px 20px;
    margin: 12px;
    border: 5px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: content-box;
  }*/