.options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.option-li-navigation-logo {
    float: left;
}

.option-li {
    float: right;
}

.option--navigation-logo a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.option-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.option-li a:hover {
    background-color: #111;
}

.option-active {
    background-color: steelblue;
}
